<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>必吃小吃</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../css/swiper.css">
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/list.css">
	<script src="../../script/jquery.js"></script>
	<script src="../../script/common.js"></script>
	<script src="../../script/zepto.min.js"></script>
	<script src="../../script/swiper.min.js"></script>
</head>
<body>
	<div id="snack">
		<!-- banner部分 -->
		<div class="banner_box">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_snack" src="../../img/snack/banner.png" alt="网速不好">
							<a href="../detail/detail_snack.html">
								<div class="tip">
									广告营销区<br><span class="thin">吃货最爱&nbsp;重磅推荐</span>
									<div class="left_line"></div>
									<div class="right_line"></div>
								</div>
							</a>
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_specialty" src="../../img/snack/banner2.png" alt="网速不好">
							<a href="../detail/detail_snack.html">
								<div class="tip">
									广告营销区<br><span class="thin">吃货最爱&nbsp;重磅推荐</span>
									<div class="left_line"></div>
									<div class="right_line"></div>
								</div>
							</a>
						</div>

			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_village" src="../../img/snack/banner3.png" alt="网速不好">
							<a href="../detail/detail_snack.html">
								<div class="tip">
									广告营销区<br><span class="thin">吃货最爱&nbsp;重磅推荐</span>
									<div class="left_line"></div>
									<div class="right_line"></div>
								</div>
							</a>
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_happy" src="../../img/snack/banner4.png" alt="网速不好">
							<a href="../detail/detail_snack.html">
								<div class="tip">
									广告营销区<br><span class="thin">吃货最爱&nbsp;重磅推荐</span>
									<div class="left_line"></div>
									<div class="right_line"></div>
								</div>
							</a>
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_holiday" src="../../img/snack/banner5.png" alt="网速不好">
							<a href="../detail/detail_snack.html">
								<div class="tip">
									广告营销区<br><span class="thin">吃货最爱&nbsp;重磅推荐</span>
									<div class="left_line"></div>
									<div class="right_line"></div>
								</div>
							</a>
						</div>
			        </div>
			    </div>
			    <!-- 分页器 -->
			    <div class="swiper-pagination"></div>
			</div>
		</div>
		<!-- 列表部分 -->
		<div class="list_box">
			<div class="tab_box snack_tab_color bg_color">
				<div class="tab tab_recommend">
					<a href="javascript:void()">
						官方推荐
						<span class="active_line"></span>
						<span class="divisionL"></span>
					</a>
				</div>
				<div class="tab tab_nearest">
					<a href="javascript:void()">
						离我最近
						<span class="active_line none"></span>
					</a>
				</div>
			</div>
			<!-- 列表 -->
			<div class="list_modules">
			<!-- 一个列表模块 -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line snackT_color bg_color"></div>
						<div class="lM_name">美食名称1</div>
						<div class="vr_video_box">
							<div class="lM_vr"></div>
							<div class="lM_video"></div>
						</div>

					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_snack.html">
							<div class="swiper-container " id="swiper_module">
							    <div class="swiper-wrapper">
							        <div class="swiper-slide">
										<div class="img food_first">
											<img src="../../img/snack/pic1.png" alt="网速不好">
										</div>
							        </div>
							        <div class="swiper-slide">
										<div class="img food_second">
											<img src="../../img/snack/pic2.png" alt="网速不好">
											</div>
							        </div>
							        <div class="swiper-slide">
										<div class="img food_third">
											<img src="../../img/snack/pic3.png" alt="网速不好">
										</div>
							        </div>
							        <div class="swiper-slide">
										<div class="img food_fourth">
											<img src="../../img/snack/pic2.png" alt="网速不好">
										</div>
							        </div>
							    </div>
							    <!-- 分页器 -->
							    <div class="swiper-pagination"></div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box  none">
								<div class="adress">地址：北京市朝阳区望京阜通东大街1号院</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang  active">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone  active">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line snackT_color bg_color"></div>
						<div class="lM_name">美食名称2</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="javascript:void(0)">
							<div class="m_content">
							    <div class="m_bg">
									<!-- 视频 -->
									<div class="start_video"></div>
									<video id="video_snackL" controls>
									    <source src="../../img/snack/video_t.mp4" type="video/mp4">
									    <!-- <source src="movie.ogg" type="video/ogg"> -->
									    请升级您的微信至最新版本
									    <!-- video标签默认隐藏了，播放后退出后还应该处于隐藏状态 -->
									</video>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box">
								<div class="adress">地址：北京市朝阳区东三环中路39号国贸中心对面，分为东区和西区</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line snackT_color bg_color"></div>
						<div class="lM_name">特产名称3</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_snack.html">
							<div class="m_content">
							    <div class="m_bg snack_third">
									<img src="../../img/snack/pic3.png" alt="网速不好"/>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box">
								<div class="adress">地址：北京市朝阳区东三环中路39号国贸中心对面，分为东区和西区</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				
				
			</div>
		</div>
		<!-- 弹窗部分 -->
		<div class="shadow none" id="phone_call">
			<div class="alert_box">
				<div class="alert_content t_color">您即将拨打【酒店名称】电脑
					<span class="phone_num">139*****670</span>/或固定电话
				</div>
				<div class="alert_bottom">
					<div class="t_color btn_cancel">取消</div>
					<div class="bg_color btn_snack_color btn_sure">确定</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../script/freshen.js"></script>	
	<script src="../../script/list.js"></script>
</body>
</html>
