<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>民俗节庆</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../css/swiper.css">
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/list.css">
	<link rel="stylesheet" href="../../css/list/list_folk.css">
	<script src="../../script/jquery.js"></script>
	<script src="../../script/common.js"></script>
	<script src="../../script/zepto.min.js"></script>
	<script src="../../script/swiper.min.js"></script>
</head>
<body>
	<div id="folk">
		
		<!-- 列表部分 -->
		<div class="list_box">
			
			<!-- 列表 -->
			<div class="list_modules">
			<!-- 一个列表模块 -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line folkT_color bg_color"></div>
						<div class="lM_name">民俗节庆名称1</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_folk.html">
							<div class="m_content">
							    <div class="m_bg folk_bg">
							    	<span class="folk_img"><img src="../../img/folk/folk_bg.png"/></span>
									<div class="activity_status act_now">进行中</div>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
							    	<div class="act_time">活动时间：&nbsp;7月5日</div>
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box">
								<div class="adress">地址：北京市朝阳区望京阜通东大街1号院</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line folkT_color bg_color"></div>
						<div class="lM_name">民俗节庆名称2</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_folk.html">
							<div class="m_content">
							    <div class="m_bg folk_second">
							    	<span class="folk_img"><img src="../../img/folk/folk2.png"/></span>
									<div class="activity_status act_will">即将开始</div>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
							    	<div class="act_time">活动时间：&nbsp;7月5日</div>
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box">
								<div class="adress">地址：北京市朝阳区东三环中路39号国贸中心对面，分为东区和西区</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line folkT_color bg_color"></div>
						<div class="lM_name">特产名称3</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_folk.html">
							<div class="m_content">
							    <div class="m_bg folk_third">
							    	<span class="folk_img"><img src="../../img/folk/folk3.png"/></span>
									<div class="activity_status act_over">已结束</div>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
							    	<div class="act_time">活动时间：&nbsp;7月5日</div>
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
							<!-- 地址 -->
							<div class="address_box">
								<div class="adress">地址：北京市朝阳区东三环中路39号国贸中心对面，分为东区和西区</div>
							</div>
						</a>
					</div>
					<!-- 列表尾部导航和拨打 -->
					<div class="foot_module">
						<div class="fM_func daohang">
							<a href="#">
								<span class="func_name"><span class="name">一键导航</span></span>
								<div class="divisionL"></div>
							</a>
						</div>
						<div class="fM_func phone">
							<a href="javascript:void(0)">
								<span class="func_name"><span class="name">一键拨打</span></span>
							</a>
						</div>
					</div>
				</div>
			<!--  -->
				
				
			</div>
		</div>
		<!-- 弹窗部分 -->
		<div class="shadow none" id="phone_call">
			<div class="alert_box">
				<div class="alert_content t_color">您即将拨打【酒店名称】电脑
					<span class="phone_num">139*****670</span>/或固定电话
				</div>
				<div class="alert_bottom">
					<div class="t_color btn_cancel">取消</div>
					<div class="btn_folk_color bg_color btn_sure">确定</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../script/freshen.js"></script>	
	<script src="../../script/list.js"></script>
</body>
</html>

