/*------特产------*/

#techan_detail .shop_mesb .sM_title .tenant_icon {
    background: url(../../img/techan/tenant_icon.png) no-repeat;
 	background-size: 100%;
}
#techan_detail .shop_mesb .sM_title .text_icon {
    background: url(../../img/techan/text_icon.png) no-repeat;
    background-size: 100%;
}
 .ex_nav .visitor_icon1.active {
    background-image: url(../../img/techan/visitor-2.png);   
}
.ex_nav .visitor_icon2.active {
    background-image: url(../../img/techan/point-2.png);   
}
.bg_color{
	background-repeat: no-repeat;
	background-size: 100%;
}
.btn_techan_color{
	background-image: url(../../img/techan/btn_color.png);
}
.textColor {
    background: -moz-linear-gradient(left, #f0c53d 0%, #ff9162 100%);
    background: -webkit-linear-gradient(left, #f0c53d 0%, #ff9162 100%);
    background: -ms-linear-gradient(left, #f0c53d 0%, #ff9162 100%);
    background: -o-linear-gradient(left, #f0c53d 0%, #ff9162 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 