<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>语音导游|景区-景点列表</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../css/swiper.css">
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/list.css">
	<link rel="stylesheet" href="../../css/list/list_voicet.css">
	<script src="../../script/jquery.js"></script>
	<script src="../../script/common.js"></script>
	<script src="../../script/zepto.min.js"></script>
	<script src="../../script/swiper.min.js"></script>
</head>
<body>
	<div id="vt_list">
		
		<!-- 列表部分 -->
		<div class="list_box">
			
			<!-- 列表 -->
			<div class="list_modules">
			<!-- 一个列表模块 -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line bg_color voicetT_color"></div>
						<div class="lM_name">景点名称1</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_voicet.html">
							<div class="m_content">
							    <div class="m_bg vt_first">
									<img src="../../img/livein/banner1.png" alt="网速不好"/>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
						</a>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line bg_color voicetT_color"></div>
						<div class="lM_name">景点名称2</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_voicet.html">
							<div class="m_content">
							    <div class="m_bg vt_second">
									<img src="../../img/livein/banner1.png" alt="网速不好"/>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
						</a>
					</div>
				</div>
			<!--  -->
				<div class="list_module">
					<!-- 列表标题 -->
					<div class="lM_title">
						<div class="title_line bg_color voicetT_color"></div>
						<div class="lM_name">景点名称3</div>
					</div>
					<!-- 列表内容区 -->
					<div class="middle_module">
						<a href="../detail/detail_voicet.html">
							<div class="m_content">
							    <div class="m_bg vt_third">
									<img src="../../img/livein/banner1.png" alt="网速不好"/>
							    </div>
							    <!-- 点赞评论 -->
							    <div class="talk">
									<div class="zan">1131</div>
									<div class="speak">231</div>
							    </div>
							</div>
						</a>
					</div>
				</div>
			<!--  -->
				
				
			</div>
		</div>
	</div>
	<script src="../../script/freshen.js"></script>
	<script src="../../script/list.js"></script>
</body>
</html>


