<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美丽乡村</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../css/swiper.css">
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/detail.css">
	<link rel="stylesheet" href="../../css/detail/detail_village.css">
	<script src="../../script/jquery.js"></script>
	<script src="../../script/common.js"></script>
	<script src="../../script/zepto.min.js"></script>
	<script src="../../script/swiper.min.js"></script>
</head>
<body>
	<div id="village_detail">
		<!-- banner部分 -->
		<div class="banner_box none">
			<div class="swiper-container">
			    <div class="hot_num">人气：<span class="num">1432</span></div>
			    <!-- 视频andVR -->
			    <div class="video_vr">
			    	<div class="video_btn"></div>
			    	<div class="vr_btn"></div>
			    </div>
			     <div class="swiper-wrapper">
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_holiday" src="../../img/snack/banner3.png" alt="网速不好">
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_specialty" src="../../img/snack/banner4.png" alt="网速不好">
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_village" src="../../img/snack/banner5.png" alt="网速不好">
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_happy" src="../../img/snack/banner2.png" alt="网速不好">
						</div>
			        </div>
			        <div class="swiper-slide">
						<div class="img ">
							<img class="img_snack" src="../../img/snack/banner.png" alt="网速不好">
						</div>
			        </div>
			    </div>
			    <!-- 分页器 -->
			    <div class="swiper-pagination"></div>
			</div>
		</div>
		<!-- 一张图片时 -->
		<div class="one_img">
			<div class="hot_num">人气：<span class="num">1432</span></div>
			    <!-- 视频andVR -->
		       <div class="video_vr">
		    		<div class="video_btn"></div>
		    		<div class="vr_btn"></div>
		       </div>
			<div class="img">
				<img class="img_holiday" src="../../img/snack/banner5.png" alt="网速不好">
			</div>
		</div>
		<!-- 商户信息与导航部分 -->
		<div class="mes_box">
			<!-- 酒店名称和拨打模块 -->
			<div class="phone_module func_module">
				<div class="hotel_box left_box">
					<h3 class="hotel">IU酒店 （北京黄寺大街店）</h3>
					<div class="star_num">
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>
				</div>
				<div class="divisionL"></div>
				<div class="fM_func phone">
					<a href="#">
						<span class="func_name"><span class="name">拨打</span></span>
					</a>
				</div>
			</div>
			<!-- 地址和导航模块 -->
			<div class="address_module func_module">
				<div class="address_box left_box ">
					<div class="adress zhaoS">冠名招商中...</div>
				</div>
				<div class="divisionL"></div>
				<div class="fM_func daohang active">
					<a href="#">
						<span class="func_name"><span class="name">导航</span></span>
					</a>
				</div>
			</div>
			<!-- 商户信息 -->
			<div class="shop_mesb">
				<!--  -->
				<div class="sM_title">
					<div class="title_line mcolor tenant_icon"></div>
					<div class="sM_name t_color">商户信息</div>
				</div>
				<div class="text_present">
					<div class="text_show">
						<p class="textareaa_show">
						<span class="shop_time">截止时间：<span class="start_time">08-09</span>至<span class="end_time">08-10</span></span>
							价格实惠，非常干净，环境很好，性价比高，位置繁华，服务好!价格实惠，非常干净，环境很好，性价比高，位置繁华，服务好!
						</p>
					</div>
					<div class="text_more"><span class="show_hide">展开全部 </span><span class="up_down"></span></div>
				</div>
				<!--  -->
				<div class="sM_title">
					<div class="title_line mcolor text_icon"></div>
					<div class="sM_name t_color">详情介绍</div>
				</div>
				<div class="text_present">
					 <!-- 图文混排 -->
					<div class="img_modules text_show">
				        <div class="module_height">
					        <div class="img_module">
					              <div class="img ">
					                  <img class="img_village" src="../../img/snack/pic1.png" alt="网速不好">
					                </div>
					                  <div class="img_text">
					                      酿皮是青海地方风味较浓的传统小吃，青少年宫/紫荆山集合出发，赴八里沟景区，游览桃花湾景区，漫步桃花湾瀑布，山神庙景区，吊桥、流水、瀑布中体会大自然的乐趣，欣赏落差170米的八里沟天瀑，自由拍照清幽潭等景区，下午16:00乘车返回在郑州，抵达温馨家园，结束愉快行程！
					                  </div>
					        </div>
					        <div class="img_module">
					              <div class="img ">
					                  <img class="img_village" src="../../img/snack/pic2.png" alt="网速不好">
					                </div>
					                  <div class="img_text">
					                      酿皮是青海地方风味较浓的传统小吃，青少年宫/紫荆山集合出发，赴八里沟景区，游览桃花湾景区，漫步桃花湾瀑布，山神庙景区，吊桥、流水、瀑布中体会大自然的乐趣，欣赏落差170米的八里沟天瀑，自由拍照清幽潭等景区，下午16:00乘车返回在郑州，抵达温馨家园，结束愉快行程！
					                  </div>
					        </div>
				        </div>
					</div>
					<div class="text_more"><span class="show_hide">展开全部 </span><span class="up_down"></span></div>
				</div>
			</div>
		</div>
		<!-- 评论和点赞区 -->
		<div class="exchange">
			<div class="ex_nav  func_module">
				<div class="nav_tab comment textColor">
					<span class="visitor"><span class="visitor_icon1 ex_icon active"></span>游客评论<em>(666)</em></span>
					<div class="vertical_line"></div>
				</div>
				<div class="nav_tab point">
					<span class="visitor"><span class="visitor_icon2  ex_icon"></span>游客点赞<em>(999)</em></span>
				</div>
			</div>
			<div class="ex_content">
				<div class="comment_tab ex_tab">
					<ul>
						<li class="comment_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 2.png"></div>
								<div class="name_time">
									<p class="person_name">非常完美1</p>
									<p class="comment_time">2017-03-14  15：30</p>
								</div>
							</div>
							<div class="con_text">
								<p>价格实惠，非常干净，环境很好，性价比高，位置繁华，服务好!</p>
							</div>
						</li>
						<li class="comment_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div>
								<div class="name_time">
									<p class="person_name">非常完美2</p>
									<p class="comment_time">2017-03-14  15：30</p>
								</div>
							</div>
							<div class="con_text">
								<p>价格实惠，非常干净，环境很好，性价比高，位置繁华，服务好!</p>
							</div>
						</li>
						<li class="comment_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div>
								<div class="name_time">
									<p class="person_name">非常完美2</p>
									<p class="comment_time">2017-03-14  15：30</p>
								</div>
							</div>
							<div class="con_text">
								<p>价格实惠，非常干净，环境很好，性价比高，位置繁华，服务好!</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="point_tab ex_tab">
					<ul>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
						<li class="point_list">
							<div class="con_top">
								<div class="head_img"><img src="../../img/snack/detail/Oval 3.png"></div> 
								<div class="name_box">
									<p class="person_name">非常完美2</p>
									<p class="zan_time">2017-03-14  15：30</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 下方按钮 -->
		<div class="main_nav" >
			<div class="nav_list">
				<div class="nav_item">
					<a href="../../index.html">
						<span class="nav_home nav_icon"></span>
						<span class="home_page">平台首页</span>
					</a>
				</div>
				<div class="nav_item nav_speak active">
					<span class="nav_comment nav_icon" ></span>
					<span class="speak_to">评论</span>
				</div>
				<div class="nav_item">
					<span class="nav_point nav_icon"></span>
					<span class="zan_to">点赞</span>
				</div>
			</div>
		</div>

		<!-- 弹窗部分(一键拨打) -->
		<div class="shadow none" id="phone_call">
			<div class="alert_box">
				<div class="alert_content t_color">您即将拨打【酒店名称】电脑
					<span class="phone_num">139*****670</span>/或固定电话
				</div>
				<div class="alert_bottom">
					<div class="t_color btn_cancel">取消</div>
					<div class="bg_color btn_village_color btn_sure">确定</div>
				</div>
			</div>
		</div>
		<!-- 弹窗部分(评论) -->
		<div class="shadow none" id="speak">
			<div class="alert_box">
				<div class="alert_content">
					<h3 class="title t_color">您的评论，是对乐游乐都的最大支持</h3>
					<textarea name="" id=""  rows="10" onfocus="if(value=='最少字数没有限制，最多不超过200字，如果用户留言多出200字，自动截取'){value=''}" onblur="if (value ==''){value='最少字数没有限制，最多不超过200字，如果用户留言多出200字，自动截取'}">最少字数没有限制，最多不超过200字，如果用户留言多出200字，自动截取</textarea>
				</div>
				<div class="alert_bottom">
					<div class="t_color btn_cancel">取消</div>
					<div class="bg_color btn_village_color btn_sure">确定</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../script/freshen.js"></script>
	<script src="../../script/list.js"></script>
</body>
</html>

